nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 21.4px;
    /* margin: 64px 119px; */
    object-fit: cover ;
    background-color: #fff;
    padding: 64px 120px 97px 120px;

    }

nav ul {
    display: flex;
    list-style: none;
    justify-content: space-between;
    gap: 15px;
    font: var(--text-bold);
}

nav li:hover {
    color: var(--brand-color);
    
}


